<?xml version="1.0" ?>
<conversioninfo>
  <locations>  FIXME: get a better name
    <site cvs="gnome.org"
      location="https://download.gnome.org/sources/"
      subdir="$module"
      />
    <site cvs="freedesktop.org"
      location="http://www.freedesktop.org/software/"
      subdir="$module/releases/"
      />

    <site module="accountsservice"           location="http://www.freedesktop.org/software/accountsservice/"/>
    <site module="colord"                    location="http://www.freedesktop.org/software/colord/releases/"/>
    <site module="colord-gtk"                location="http://www.freedesktop.org/software/colord/releases/"/>
    <site module="ConsoleKit"                location="http://www.freedesktop.org/software/ConsoleKit/dist/"/>
    <site module="fontconfig"                location="http://www.freedesktop.org/software/fontconfig/release/"/>
    <site module="geoclue"                   location="http://www.freedesktop.org/software/geoclue/releases/2.0/"/>
    <site module="gst-plugins-bad"           location="http://gstreamer.freedesktop.org/src/gst-plugins-bad/"/>
    <site module="harfbuzz"                  location="http://www.freedesktop.org/software/harfbuzz/release/"/>
    <site module="libgusb"                   location="http://people.freedesktop.org/~hughsient/releases/"/>
    <site module="libmbim"                   location="http://www.freedesktop.org/software/libmbim/"/>
    <site module="libosinfo"                 location="http://fedorahosted.org/releases/l/i/libosinfo/"/>
    <site module="libvirt-glib"              location="ftp://libvirt.org/libvirt/glib/"/>
    <site module="libxkbcommon"              location="http://xkbcommon.org/download/"/>
    <site module="PackageKit"                location="http://www.packagekit.org/releases/" />
    <site module="pulseaudio"                location="http://www.freedesktop.org/software/pulseaudio/releases/"/>
    <site module="polkit"                    location="http://www.freedesktop.org/software/polkit/releases/" />
    <site module="telepathy-farstream"       location="http://telepathy.freedesktop.org/releases/" subdir="$module"/>
    <site module="telepathy-glib"            location="http://telepathy.freedesktop.org/releases/" subdir="$module"/>
    <site module="telepathy-logger"          location="http://telepathy.freedesktop.org/releases/" subdir="$module"/>
    <site module="telepathy-mission-control" location="http://telepathy.freedesktop.org/releases/" subdir="$module"/>
    <site module="udisks"                    location="http://udisks.freedesktop.org/releases/" />
    <site module="upower"                    location="http://upower.freedesktop.org/releases/" />
    <site module="wayland"                   location="http://wayland.freedesktop.org/releases/" />
    <site module="weston"                    location="http://wayland.freedesktop.org/releases/" />
    <site module="gegl"                      location="ftp://ftp.gimp.org/pub/gegl/"/>
    <site module="babl"                      location="ftp://ftp.gtk.org/pub/babl/"/>
    <site module="zeitgeist"                 location="ftp://ftp.gnome.org/pub/GNOME/teams/releng/tarballs-needing-help/" subdir="$module"/>
    <site module="libevdev"                  location="http://www.freedesktop.org/software/" subdir="$module"/>
  </locations>
  <mirrors>
    <mirror location="https://download.gnome.org/" alternate="file:///ftp/pub/GNOME/" host="window.gnome.org" />
    <mirror location="https://download.gnome.org/" alternate="sftp://master.gnome.org/ftp/pub/GNOME/" />
  </mirrors>
  <rename>
    <name old="libsigc++2"           new="libsigc++"/>
    <name old="pyatspi2"             new="pyatspi"/>
  </rename>
  <whitelist>
    ## EXTERNAL
    <package name="colord"/>
    <package name="colord-gtk"/>
    <package name="gnome-common"/>  # Huh?  Why is this external?
    <package name="geoclue"/>
    <package name="pulseaudio"/>
    <package name="telepathy-farstream" limit="0.7"/>
    <package name="telepathy-glib" limit="0.23"/>
    <package name="telepathy-logger" limit="0.9"/>
    <package name="telepathy-mission-control" limit="5.17"/>

    ## CORE SHELL
    <package name="at-spi2-core"                set="core" limit="2.11"/>
    <package name="at-spi2-atk"                 set="core" limit="2.11"/>
    <package name="dconf"                       set="core" limit="0.19"/>
    <package name="evolution-data-server"       set="core" limit="3.11"/>
    <package name="gnome-bluetooth"             set="core" limit="3.11"/>
    <package name="gnome-online-accounts"       set="core" limit="3.11"/>
    <package name="gnome-online-miners"         set="core" limit="3.11"/>
    <package name="gnome-control-center"        set="core" limit="3.11"/>
    <package name="gnome-desktop"               set="core" limit="3.11"/>
    <package name="gnome-icon-theme"            set="core" limit="3.11"/>
    <package name="gnome-icon-theme-extras"     set="core" limit="3.11"/>
    <package name="gnome-icon-theme-symbolic"   set="core" limit="3.11"/>
    <package name="gnome-keyring"               set="core" limit="3.11"/>
    <package name="gnome-menus"                 set="core" limit="3.11"/>
    <package name="gnome-packagekit"            set="core" limit="3.11"/>
    <package name="gnome-session"               set="core" limit="3.11"/>
    <package name="gnome-settings-daemon"       set="core" limit="3.11"/>
    <package name="gnome-shell"                 set="core" limit="3.11"/>
    <package name="gnome-themes-standard"       set="core" limit="3.11"/>
    <package name="gsettings-desktop-schemas"   set="core" limit="3.11"/>
    <package name="gvfs"                        set="core" limit="1.19"/>
    <package name="glib-networking"             set="core" limit="2.39"/>
    <package name="mousetweaks"                 set="core" limit="3.11"/>
    <package name="mutter"                      set="core" limit="3.11"/>
    <package name="mutter-wayland" module="mutter" set="core" limit="3.11"/>
    <package name="gnome-shell-extensions"      set="core" limit="3.11"/>

    ## CORE EXTRAS
    <package name="gnome-backgrounds"           set="core" limit="3.11"/>
    <package name="gnome-user-share"            set="core" limit="3.11"/>
    <package name="vino"                        set="core" limit="3.11"/>
    <package name="gnome-user-docs"             set="core" limit="3.11"/>

    ## CORE UTILITIES
    <package name="baobab"                      set="core" limit="3.11"/>
    <package name="empathy"                     set="core" limit="3.11"/>
    <package name="eog"                         set="core" limit="3.11"/>
    <package name="epiphany"                    set="core" limit="3.11"/>
    <package name="evince"                      set="core" limit="3.11"/>
    <package name="gnome-calculator"            set="core" limit="3.11"/>
    <package name="gnome-contacts"              set="core" limit="3.11"/>
    <package name="gnome-dictionary"            set="core" limit="3.11"/>
    <package name="gnome-disk-utility"          set="core" limit="3.11"/>
    <package name="gnome-font-viewer"           set="core" limit="3.11"/>
    <package name="gnome-screenshot"            set="core" limit="3.11"/>
    <package name="gnome-system-log"            set="core" limit="3.11"/>
    <package name="gnome-system-monitor"        set="core" limit="3.11"/>
    <package name="gnome-terminal"              set="core" limit="3.11"/>
    <package name="gucharmap"                   set="core" limit="3.11"/>
    <package name="nautilus"                    set="core" limit="3.11"/>
    <package name="sushi"                       set="core" limit="3.11"/>
    <package name="totem"                       set="core" limit="3.11"/>
    <package name="yelp"                        set="core" limit="3.11"/>

    ## CORE FALLBACK
    <package name="network-manager-applet"      set="core"/>

    # CORE SERVICES
    <package name="accountsservice"/>
    <package name="ConsoleKit"/>
    <package name="gdm"                         set="core" limit="3.11"/>
    <package name="NetworkManager"              set="core"/>
    <package name="PackageKit"/>
    <package name="polkit"/>
    <package name="udisks"/>
    <package name="upower"/>

    ## CORE DEPS
    <package name="atk"                         set="core" limit="2.11"/>
    <package name="atkmm"                       set="core"/>
    <package name="cantarell-fonts"             set="core"/>
    <package name="caribou"                     set="core"/>
    <package name="clutter"                     set="core" limit="1.17"/>
    <package name="clutter-gtk"                 set="core"/>
    <package name="clutter-gst"                 set="core" limit="2.3"/>
    <package name="cogl"                        set="core" limit="1.17"/>
    <package name="folks"                       set="core"/>
    <package name="fontconfig" limit="2.11"/>
    <package name="geocode-glib"                set="core"/>
    <package name="gcr"                         set="core" limit="3.11"/>
    <package name="gdk-pixbuf"                  set="core" limit="2.31"/>
    <package name="gtksourceview"               set="core" limit="3.11"/>
    <package name="gjs"                         set="core" limit="1.39"/>
    <package name="glib"                        set="core" limit="2.39"/>
    <package name="glibmm"                      set="core"/>
    <package name="gnome-js-common"             set="core"/>
    <package name="gnome-video-effects"         set="core"/>
    <package name="gobject-introspection"       set="core" limit="1.39"/>
    <package name="grilo"                       set="core"/>
    <package name="grilo-plugins"               set="core"/>
    <package name="gstreamer"                   set="core"/>
    <package name="gst-plugins-base"            set="core"/>
    <package name="gst-plugins-good"            set="core"/>
    <package name="gst-plugins-bad"/>
    <package name="gssdp"                       set="core"/>
    <package name="gtk+-2" module="gtk+"        set="core" limit="2.90"/>
    <package name="gtk+"                        set="core" limit="3.11"/>
    <package name="gtk-doc"                     set="core"/>
    <package name="gtkmm"                       set="core"/>
    <package name="gupnp"                       set="core"/>
    <package name="gupnp-igd"                   set="core"/>
    <package name="harfbuzz"/>
    <package name="libgusb"/>
    <package name="json-glib"                   set="core"/>
    <package name="libchamplain"                set="core"/>
    <package name="libcroco"                    set="core"/>
    <package name="libgdata"                    set="core"/>
    <package name="libgee"                      set="core"/>
    <package name="libgsf"                      set="core"/>
    <package name="libgxps"                     set="core"/>
    <package name="libsigc++"                   set="core"/>
    <package name="libgtop"                     set="core"/>
    <package name="libnotify"                   set="core"/>
    <package name="libpeas"                     set="core"/>
    <package name="libmbim"/>
    <package name="libqmi"                      set="core"/>
    <package name="librest" module="rest"       set="core"/>
    <package name="libsecret"                   set="core"/>
    <package name="librsvg"                     set="core"/>
    <package name="libsoup"                     set="core" limit="2.45"/>
    <package name="libgweather"                 set="core" limit="3.11"/>
    <package name="libgnomekbd"                 set="core"/>
    <package name="libgnome-keyring"            set="core"/>
    <package name="libzapojit"                  set="core"/>
    <package name="gmime"                       set="core"/>
    <package name="libwnck"                     set="core"/>
    <package name="libxkbcommon"/>
    <package name="libxml2"/>
    <package name="libxslt"/>
    <package name="mm-common"                   set="core"/>
    <package name="ModemManager"                set="core"/>
    <package name="pango"                       set="core"/>
    <package name="pangomm"                     set="core"/>
    <package name="pygobject"                   set="core" limit="3.11"/>
    <package name="seed"                        set="core"/>
    <package name="totem-pl-parser"             set="core"/>
    <package name="tracker"                     set="core" limit="0.19"/>
    <package name="vala"                        set="core"/>
    <package name="vte"                         set="core" limit="0.37"/>
    <package name="wayland"/>
    <package name="weston"/>
    <package name="yelp-xsl"                    set="core" limit="3.11"/>
    <package name="yelp-tools"                  set="core" limit="3.11"/>
    <package name="zenity"                      set="core" limit="3.11"/>
    <package name="libevdev"/>

    ## TESTED APPS
    <package name="accerciser"                  set="apps" limit="3.11"/>
    <package name="aisleriot"                   set="apps" limit="3.11"/>
    <package name="anjuta"                      set="apps" limit="3.11"/>
    <package name="brasero"                     set="apps" limit="3.11"/>
    <package name="cheese"                      set="apps" limit="3.11"/>
    <package name="devhelp"                     set="apps" limit="3.11"/>
    <package name="evolution"                   set="apps" limit="3.11"/>
    <package name="file-roller"                 set="apps" limit="3.11"/>
    <package name="five-or-more"                set="apps" limit="3.11"/>
    <package name="four-in-a-row"               set="apps" limit="3.11"/>
    <package name="gedit"                       set="apps" limit="3.11"/>
    <package name="glade"                       set="apps" limit="3.17"/>
    <package name="gnome-boxes"                 set="apps" limit="3.11"/>
    <package name="gnome-clocks"                set="apps" limit="3.11"/>
    <package name="gnome-chess"                 set="apps" limit="3.11"/>
    <package name="gnome-color-manager"         set="apps" limit="3.11"/>
    <package name="gnome-documents"             set="apps" limit="3.11"/>
    <package name="gnome-devel-docs"            set="apps" limit="3.11"/>
    <package name="gnome-getting-started-docs"  set="apps" limit="3.11"/>
    <package name="gnome-initial-setup"         set="apps" limit="3.11"/>
    <package name="gnome-klotski"               set="apps" limit="3.11"/>
    <package name="gnome-mahjongg"              set="apps" limit="3.11"/>
    <package name="gnome-mines"                 set="apps" limit="3.11"/>
    <package name="gnome-nettool"               set="apps" limit="3.11"/>
    <package name="gnome-nibbles"               set="apps" limit="3.11"/>
    <package name="gnome-robots"                set="apps" limit="3.11"/>
    <package name="gnome-sudoku"                set="apps" limit="3.11"/>
    <package name="gnome-photos"                set="apps" limit="3.11"/>
    <package name="gnome-tetravex"              set="apps" limit="3.11"/>
    <package name="gnome-weather"               set="apps" limit="3.11"/>
    <package name="iagno"                       set="apps" limit="3.11"/>
    <package name="lightsoff"                   set="apps" limit="3.11"/>
    <package name="nautilus-sendto"             set="apps" limit="3.11"/>
    <package name="nemiver"                     set="apps"/>
    <package name="orca"                        set="apps" limit="3.11"/>
    <package name="quadrapassel"                set="apps" limit="3.11"/>
    <package name="rygel"                       set="apps" limit="0.21"/>
    <package name="seahorse"                    set="apps" limit="3.11"/>
    <package name="swell-foop"                  set="apps" limit="3.11"/>
    <package name="tali"                        set="apps" limit="3.11"/>
    <package name="vinagre"                     set="apps" limit="3.11"/>

    ## NEW APPS FOR 3.10
    <package name="gnome-maps"                  set="apps"/>
    <package name="bijiben"                     set="apps" limit="3.11"/>
    <package name="gnome-music"                 set="apps"/>

    ## TESTED APPS DEPENDENCIES
    <package name="gdl"/>
    <package name="gdlmm"/>
    <package name="ghex"/>
    <package name="gtk-vnc"/>
    <package name="gtkhtml"/>
    <package name="gtksourceviewmm"/>
    <package name="gupnp-av"/>
    <package name="gupnp-dlna"/>
    <package name="gupnp-vala"/>
    <package name="libosinfo"/>
    <package name="libvirt-glib"/>
    <package name="pyatspi" limit="2.11"/>
    <package name="spice-gtk"/>
    <package name="spice-protocol"/>
    <package name="spice-server"/>
    <package name="libgda"/>
    <package name="zeitgeist"/>
    <package name="babl"/>
    <package name="gegl"/>

  </whitelist>
</conversioninfo>
