<?xml version="1.0" ?>
<conversioninfo>
  <locations>  FIXME: get a better name
    <site cvs="gnome.org"
      location="http://download.gnome.org/sources/"
      subdir="$module"
      />
    <site cvs="freedesktop.org"
      location="http://www.freedesktop.org/software/"
      subdir="$module/releases/"
      />
    <site module="libdaemon" location="http://avahi.org/download" />
    <site module="avahi"     location="http://avahi.org/download" />
    <site module="cairo"     location="http://cairographics.org/snapshots/" />
          # Have to keep toggling between:
          # http://cairographics.org/snapshots/
          # http://cairographics.org/releases/

    <site module="polkit"    location="http://hal.freedesktop.org/releases/" />

    <site module="upower"    location="http://upower.freedesktop.org/releases/" />
    <site module="PackageKit" location="http://www.packagekit.org/releases/" />

    <site module="fontconfig"
          location="http://www.fontconfig.org/release/" />
    <site module="render"
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="xrender"
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="poppler"   location="http://poppler.freedesktop.org/" />
    <site module="shared-mime-info" location="http://freedesktop.org/~hadess/" />
    <site module="desktop-file-utils"
          location="http://www.freedesktop.org/software/"
          subdir="$module/releases" />
    <site module="libxklavier"
          location="http://xlibs.freedesktop.org/xkbdesc/" />
    <site module="dbus"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-glib"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-python"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="iso-codes"
          location="http://ftp.debian.org/debian/pool/main/i/iso-codes/" />
          # Alternative:
          # location="http://download.gnome.org/teams/releng/tarballs-needing-help/iso-codes/"
    <site module="liboil" location="http://liboil.freedesktop.org/download/" />
    <site module="icon-naming-utils"
          location="http://tango-project.org/releases/" />
    <site module="gamin"   location="http://www.gnome.org/~veillard/gamin/sources" />
    <site module="perl-net-dbus"
          location="http://www.cpan.org/modules/by-"
          subdir="$module" />
    <site module="ConsoleKit"
          location="http://www.freedesktop.org/software/ConsoleKit/dist/"/>
    <site module="colord"
          location="http://www.freedesktop.org/software/colord/releases/"/>
    <site module="accountsservice"
          location="http://www.freedesktop.org/software/accountsservice/"/>
  </locations>
  <mirrors>
    <mirror location="http://download.gnome.org/" alternate="file:///ftp/pub/GNOME/" host="window.gnome.org" />
    <mirror location="http://download.gnome.org/" alternate="sftp://master.gnome.org/ftp/pub/GNOME/" />
  </mirrors>
  <rename>
    <name old="Render"               new="render"/>
    <name old="Xft"                  new="libXft"/>
    <name old="Xrender"              new="xrender"/>
    <name old="gconf"                new="GConf"/>
    <name old="gconf-dbus"           new="GConf-dbus"/>
    <name old="gdm2"                 new="gdm"/>
    <name old="libsigc++2"           new="libsigc++"/>
    <name old="procman"              new="gnome-system-monitor"/>
    <name old="pyatspi2"             new="pyatspi"/>
  </rename>
  <whitelist>
    ## EXTERNAL
    <package name="cairo"/>
    <package name="colord"/>
    <package name="desktop-file-utils"/>
    <package name="dbus-glib"/>
    <package name="dbus-python"/>
    <package name="fontconfig"/>
    <package name="hicolor-icon-theme" note="istarball"/>
    <package name="libchamplain"/>
    <package name="libdaemon"/>
    <package name="libgcrypt" note="istarball"/>
    <package name="libgdata"/>
    <package name="libgpg-error" note="istarball"/>
    <package name="libtasn1" note="istarball"/>
    <package name="gamin"/>
    <package name="gnome-common"/>  # Huh?  Why is this external?
    <package name="gnome-js-common"/>
    <package name="ghex"/>
    <package name="gssdp"/>
    <package name="gupnp"/>
    <package name="gupnp-av"/>
    <package name="gupnp-dlna"/>
    <package name="gupnp-vala"/>
    <package name="gnutls" note="istarball"/>
    <package name="icon-naming-utils"/>
    <package name="intltool"/>
    <package name="iso-codes" note="istarball"/>
    <package name="libcroco"/>
    <package name="libgsf"/>
    <package name="libmusicbrainz" note="istarball"/>
    <package name="liboil"/>
    <package name="libxklavier"/>
    <package name="libxml2"/>
    <package name="libxslt"/>
    <package name="opal"/>
    <package name="poppler"/>
    <package name="ptlib"/>
    <package name="shared-mime-info"/>
    <package name="telepathy-logger"/>
    <package name="startup-notification"/>
    <package name="rarian"/>
    <package name="libnotify"/>
    <package name="vala"/>
    <package name="libgee"/>
    <package name="libnl"/>
    <package name="libproxy"/>
    <package name="sqlite3"/>
    <package name="libical"/>
    <package name="libdaemon"/>
    <package name="libunique"/>
    <package name="libcanberra"/>
    <package name="json-glib"/>
    <package name="gmime"/>
    <package name="tracker"/>
    <package name="libnice"/>
    <package name="farsight2"/>
    <package name="telepathy-farsight"/>
    <package name="enchant"/>
    <package name="cairomm"/>
    <package name="libdiscid"/>
    <package name="librest" module="rest"/>
    <package name="liboauth"/>
    <package name="telepathy-glib"/>
    <package name="telepathy-mission-control"/>
    <package name="pulseaudio"/>

    ## CORE SHELL
    <package name="dconf"                       limit="0.11" set="core"/>
    <package name="evolution-data-server"       limit="3.3"  set="core"/>
    <package name="gnome-bluetooth"             limit="3.3"  set="core"/>
    <package name="gnome-control-center"        limit="3.3"  set="core"/>
    <package name="gnome-desktop"               limit="3.3"  set="core"/>
    <package name="gnome-icon-theme"            limit="3.3"  set="core"/>
    <package name="gnome-icon-theme-extras"     limit="3.3"  set="core"/>
    <package name="gnome-icon-theme-symbolic"   limit="3.3"  set="core"/>
    <package name="gnome-keyring"               limit="3.3"  set="core"/>
    <package name="gnome-menus"                 limit="3.3"  set="core"/>
    <package name="gnome-packagekit"            limit="3.3"  set="core"/>
    <package name="gnome-power-manager"         limit="3.3"  set="core"/>
    <package name="gnome-screensaver"           limit="3.3"  set="core"/>
    <package name="gnome-session"               limit="3.3"  set="core"/>
    <package name="gnome-settings-daemon"       limit="3.3"  set="core"/>
    <package name="gnome-shell"                 limit="3.3"  set="core"/>
    <package name="gnome-themes-standard"       limit="3.3"  set="core"/>
    <package name="gsettings-desktop-schemas"   limit="3.3"  set="core"/>
    <package name="gvfs"                        limit="1.11" set="core"/>
    <package name="glib-networking"             limit="2.31" set="core"/>
    <package name="mousetweaks"                 limit="3.3"  set="core"/>
    <package name="mutter"                      limit="3.3"  set="core"/>
    <package name="network-manager-applet"                   set="core"/>

    ## CORE EXTRAS
    <package name="gnome-backgrounds"           limit="3.3"  set="core"/>
    <package name="gnome-user-share"            limit="3.3"  set="core"/>
    <package name="vino"                        limit="3.3"  set="core"/>
    <package name="gnome-user-docs"             limit="3.3"  set="core"/>

    ## CORE UTILITIES
    <package name="brasero"                     limit="3.3"  set="core"/>
    <package name="empathy"                     limit="3.3"  set="core"/>
    <package name="epiphany"                    limit="3.3"  set="core"/>
    <package name="eog"                         limit="3.3"  set="core"/>
    <package name="evince"                      limit="3.3"  set="core"/>
    <package name="gcalctool"                   limit="6.3"  set="core"/>
    <package name="gnome-contacts"              limit="3.3"  set="core"/>
    <package name="gnome-disk-utility"          limit="3.3"  set="core"/>
    <package name="gnome-system-monitor"        limit="3.3"  set="core"/>
    <package name="gnome-terminal"              limit="3.3"  set="core"/>
    <package name="gnome-utils"                 limit="3.3"  set="core"/>
    <package name="gucharmap"                   limit="3.3"  set="core"/>
    <package name="nautilus"                    limit="3.3"  set="core"/>
    <package name="sushi"                       limit="0.3"  set="core"/>
    <package name="yelp"                        limit="3.3"  set="core"/>

    ## CORE FALLBACK
    <package name="GConf"                       limit="3.3"  set="core"/>
    <package name="gnome-panel"                 limit="3.3"  set="core"/>
    <package name="metacity"                    limit="2.35" set="core"/>
    <package name="notification-daemon"         limit="0.8"  set="core"/>

    # CORE SERVICES
    <package name="accountsservice"/>
    <package name="avahi"/>
    <package name="bluez"/>
    <package name="ConsoleKit"/>
    <package name="dbus"/>
    <package name="gdm"                                      set="core"/>
    <package name="NetworkManager"                           set="core"/>
    <package name="PackageKit"/>
    <package name="polkit"/>
    <package name="upower"/>

    ## CORE DEPS
    <package name="cantarell-fonts"                          set="core"/>
    <package name="caribou"                     limit="0.5"  set="core"/>
    <package name="folks"                       limit="0.7"  set="core"/>
    <package name="gnome-doc-utils"             limit="0.21" set="core"/>
    <package name="gnome-video-effects"                      set="core"/>
    <package name="gtk-doc"                                  set="core"/>
    <package name="glib"                        limit="2.31" set="core"/>
    <package name="gobject-introspection"       limit="1.31" set="core"/>
    <package name="pango"                                    set="core"/>
    <package name="atk"                         limit="2.3"  set="core"/>
    <package name="gdk-pixbuf"                  limit="2.25" set="core"/>
    <package name="gtk+-2" module="gtk+"        limit="2.90" set="core"/>
    <package name="gtk+"                        limit="3.3"  set="core"/>
    <package name="libgnome-keyring"            limit="3.3"  set="core"/>
    <package name="libpeas"                     limit="1.3"  set="core"/>
    <package name="libsoup"                     limit="2.37" set="core"/>
    <package name="libgweather"                 limit="3.3"  set="core"/>
    <package name="libgnomekbd"                 limit="3.3"  set="core"/>
    <package name="gstreamer"                                set="core"/>
    <package name="polkit-gnome"                limit="0.105" set="core"/>
    <package name="gjs"                         limit="1.31" set="core"/>
    <package name="zenity"                      limit="3.3"  set="core"/>
    <package name="cogl"                        limit="1.9"  set="core"/>
    <package name="clutter"                     limit="1.9"  set="core"/>
    <package name="clutter-gtk"                 limit="1.1"  set="core"/>
    <package name="gst-plugins-base"                         set="core"/>
    <package name="gst-plugins-good"                         set="core"/>
    <package name="totem-pl-parser"             limit="2.33" set="core"/>
    <package name="libwnck"                     limit="3.3"  set="core"/>
    <package name="mm-common"                                set="core"/>
    <package name="glibmm"                      limit="2.31" set="core"/>
    <package name="atkmm"                       limit="2.23" set="core"/>
    <package name="pangomm"                     limit="2.29" set="core"/>
    <package name="gtkmm"                       limit="3.3"  set="core"/>
    <package name="librsvg"                     limit="2.35" set="core"/>
    <package name="vte"                         limit="0.31" set="core"/>
    <package name="libgtop"                     limit="2.29" set="core"/>
    <package name="yelp-xsl"                    limit="3.3"  set="core"/>
    <package name="yelp-tools"                  limit="3.3"  set="core"/>
    <package name="gnome-online-accounts"       limit="3.3"  set="core"/>

    ## TESTED APPS
    <package name="accerciser"                  limit="3.3"  set="apps"/>
    <package name="aisleriot"                   limit="3.3"  set="apps"/>
    <package name="anjuta"                      limit="3.3"  set="apps"/>
    <package name="cheese"                      limit="3.3"  set="apps"/>
    <package name="devhelp"                     limit="3.3"  set="apps"/>
    <package name="evolution"                   limit="3.3"  set="apps"/>
    <package name="file-roller"                 limit="3.3"  set="apps"/>
    <package name="gedit"                       limit="3.3"  set="apps"/>
    <package name="glade"                       limit="3.11" set="apps"/>
    <package name="gnome-color-manager"         limit="3.3"  set="apps"/>
    <package name="gnome-documents"             limit="0.3"  set="apps"/>
    <package name="gnome-devel-docs"            limit="3.3"  set="apps"/>
    <package name="gnome-games"                 limit="3.3"  set="apps"/>
    <package name="gnome-nettool"               limit="3.3"  set="apps"/>
    <package name="hamster-applet"                           set="apps"/>
    <package name="nautilus-sendto"             limit="3.3"  set="apps"/>
    <package name="nemiver"                                  set="apps"/>
    <package name="orca"                        limit="3.3"  set="apps"/>
    <package name="rygel"                       limit="0.13" set="apps"/>
    <package name="seahorse"                    limit="3.3"  set="apps"/>
    <package name="totem"                       limit="3.3"  set="apps"/>
    <package name="vinagre"                     limit="3.3"  set="apps"/>

    ## DEPENDENCIES
    <package name="clutter-gst"                 limit="1.5"/>
    <package name="at-spi2-core"                limit="2.3"/>
    <package name="at-spi2-atk"                 limit="2.3"/>
    <package name="gtk-engines"                 limit="2.22"/>
    <package name="gtkhtml"                     limit="4.3"/>
    <package name="gtksourceview"               limut="3.3"/>
    <package name="gtksourceviewmm"/>
    <package name="nautilus-sendto"/>
    <package name="rygel"/>
    <package name="gdl"                         limit="3.3"/>
    <package name="gdlmm"                       limit="3.3"/>
    <package name="libsigc++"/>
    <package name="seed"                        limit="3.3"/>
    <package name="pygobject"                   limit="3.1"/>
    <package name="pyatspi"                     limit="2.3"/>
    <package name="gtk-sharp"/>

    ## SOME MORE PACKAGES WE WANT IN THE MODULESET
    <package name="gnome-applets"               limit="3.3"/>

  </whitelist>
</conversioninfo>
