<?xml version="1.0" ?>
<conversioninfo>
  <locations>  FIXME: get a better name
    <site cvs="gnome.org" 
      location="http://download.gnome.org/sources/"
      subdir="$module"
      />
    <site cvs="freedesktop.org"
      location="http://www.freedesktop.org/software/"
      subdir="$module/releases/"
      />
    <site module="libdaemon" location="http://avahi.org/download" />
    <site module="avahi"     location="http://avahi.org/download" />
    <site module="cairo"     location="http://cairographics.org/snapshots/" />
          # Have to keep toggling between:
          # http://cairographics.org/snapshots/
          # http://cairographics.org/releases/
    <site module="hal"       location="http://freedesktop.org/~david/dist/" />
    <site module="libXft"    location="http://xlibs.freedesktop.org/release/"/>
    <site module="fontconfig" 
          location="http://www.fontconfig.org/release/" />
    <site module="render"    
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="xrender"   
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="poppler"   location="http://poppler.freedesktop.org/" />
    <site module="system-tools-backends"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="shared-mime-info" location="http://freedesktop.org/~hadess/" />
    <site module="desktop-file-utils"
          location="http://www.freedesktop.org/software/"
          subdir="$module/releases" />
    <site module="libxklavier"
          location="http://xlibs.freedesktop.org/xkbdesc/" />
    <site module="dbus"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-glib"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-python"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="gstreamer"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="gst-plugins-base"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="gst-plugins-good"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="iso-codes"
          location="http://ftp.debian.org/debian/pool/main/i/iso-codes/" />
          # Alternative:
          # location="http://download.gnome.org/teams/releng/tarballs-needing-help/iso-codes/"
    <site module="liboil" location="http://liboil.freedesktop.org/download/" />
    <site module="icon-naming-utils"
          location="http://tango-project.org/releases/" />
    <site module="pycairo" location="http://cairographics.org/releases/" />
    <site module="gamin"   location="http://www.gnome.org/~veillard/gamin/sources" />
    <site module="liboobs"    
          location="http://download.gnome.org/sources/" 
          subdir="$module" />
    <site module="Glib"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2-Canvas"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2-GConf"
          location="http://www.cpan.org/modules/by-authors/id/E/EB/EBASSI/" />
    <site module="Gnome2-VFS"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gtk2"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gtk2-GladeXML"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="perl-net-dbus"    
          location="http://www.cpan.org/modules/by-" 
          subdir="$module" />
    <site module="gtksourceview-1.0"
          location="http://download.gnome.org/sources/gtksourceview"
          />
  </locations>
  <mirrors>
    <mirror location="http://download.gnome.org/" alternate="file:///ftp/pub/GNOME/" host="window.gnome.org" />
    <mirror location="http://download.gnome.org/" alternate="sftp://master.gnome.org/ftp/pub/GNOME/" />
  </mirrors>
  <rename>
    <name old="Render"               new="render"/>
    <name old="Xft"                  new="libXft"/>
    <name old="Xrender"              new="xrender"/>
    <name old="gconf"                new="GConf"/>
    <name old="gconf-dbus"           new="GConf-dbus"/>
    <name old="gdm2"                 new="gdm"/>
    <name old="libsigc++2"           new="libsigc++"/>
    <name old="procman"              new="gnome-system-monitor"/>
    <drop prefix="gnome-python/" />
    <drop prefix="gnomemm/"      />
  </rename>
  <whitelist>
    ## EXTERNAL
    <package name="avahi"/>
    <package name="cairo"/>
    <package name="desktop-file-utils"/>
    <package name="dbus"/>
    <package name="dbus-glib"/>
    <package name="dbus-python"/>
    <package name="fontconfig"/>
    <package name="hal"/>
    <package name="hicolor-icon-theme" note="istarball"/>
    <package name="libdaemon"/>
    <package name="libgcrypt" note="istarball"/>
    <package name="libgpg-error" note="istarball"/>
    <package name="libtasn1" note="istarball"/>
    <package name="gamin"/>
    <package name="gnome-common"/>  # Huh?  Why is this external?
    <package name="gnutls" note="istarball"/>
    <package name="icon-naming-utils"/>
    <package name="iso-codes" note="istarball"/>
    <package name="libcroco"/>
    <package name="libgnomecups"/>
    <package name="libgsf"/>
    <package name="libmusicbrainz" note="istarball"/>
    <package name="liboil"/>
    <package name="libXft"/>
    <package name="libxklavier"/>
    <package name="libxml2"/>
    <package name="libxslt"/>
    <package name="mozilla"/>
    <package name="opal"/>
    <package name="opencdk" note="istarball"/>
    <package name="poppler"/>
    <package name="ptlib"/>
    <package name="pycairo"/>
    <package name="render"/>
    <package name="shared-mime-info"/>
    <package name="system-tools-backends"/>
    <package name="xrender"/>
    <package name="startup-notification"/>
    <package name="rarian"/>
    ## PLATFORM
    <package name="GConf"                   set="platform"/>
    <package name="ORBit2"                  set="platform"/>
    <package name="at-spi"                  set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="atk"                     set="platform"/>
    <package name="audiofile"               set="platform"/>
    <package name="esound"                  set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="glib"                    set="platform"/>
    <package name="gnome-mime-data"         set="platform"/>
    <package name="gnome-vfs"               set="platform"/>
    <package name="gnome-vfs-monikers"      set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="gtk+"                    set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="gtk-doc"                 set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="intltool"                set="platform"/>
    <package name="libIDL"                  set="platform"/>
    <package name="libart_lgpl"             set="platform"/>
    <package name="libbonobo"               set="platform"/>
    <package name="libbonoboui"             set="platform"/>
    <package name="libglade"                set="platform"/>
    <package name="libgnome"                set="platform"/>
    <package name="libgnomecanvas"          set="platform"/>
    <package name="libgnomeui"              set="platform"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="pango"                   set="platform"/>
    ## DESKTOP
    <package name="alacarte"                set="desktop"/>
    <package name="bug-buddy"               set="desktop" limit="2.25" />
    <package name="cheese"                  set="desktop"/>
    <package name="dasher"                  set="desktop"/>
    <package name="deskbar-applet"          set="desktop"/>
    <package name="eel"                     set="desktop"/>
    <package name="ekiga"                   set="desktop"/>
    <package name="empathy"                 set="desktop"/>
    <package name="eog"                     set="desktop"/>
    <package name="epiphany"                set="desktop" limit="2.25" />
    <package name="evince"                  set="desktop"/>
    <package name="evolution"               set="desktop"/>
    <package name="evolution-data-server"   set="desktop"/>
    <package name="evolution-exchange"      set="desktop"/>
    <package name="evolution-webcal"        set="desktop"/>
    <package name="file-roller"             set="desktop"/>
    <package name="gcalctool"               set="desktop"/>
    <package name="gconf-editor"            set="desktop"/>
    <package name="gdm"                     set="desktop"/>
    <package name="gedit"                   set="desktop"/>
    <package name="gnome-applets"           set="desktop"/>
    <package name="gnome-backgrounds"       set="desktop"/>
    <package name="gnome-control-center"    set="desktop"/>
    <package name="gnome-desktop"           set="desktop"/>
    <package name="gnome-doc-utils"         set="desktop"/>
    <package name="gnome-games"             set="desktop"/>
    <package name="gnome-icon-theme"        set="desktop"/>
    <package name="gnome-keyring"           set="desktop"/>
    <package name="gnome-mag"               set="desktop"/>
    <package name="gnome-media"             set="desktop"/>
    <package name="gnome-menus"             set="desktop"/>
    <package name="gnome-netstatus"         set="desktop"/>
    <package name="gnome-nettool"           set="desktop"/>
    <package name="gnome-panel"             set="desktop"/>
    <package name="gnome-power-manager"     set="desktop" limit="2.25" />
    <package name="gnome-python-desktop"    set="desktop"/>
    <package name="gnome-screensaver"       set="desktop"/>
    <package name="gnome-session"           set="desktop"/>
    <package name="gnome-settings-daemon"   set="desktop"/>
    <package name="gnome-sharp"             set="desktop"/>
    <package name="gnome-desktop-sharp"     set="desktop"/>
    <package name="gnome-speech"            set="desktop"/>
    <package name="gnome-system-monitor"    set="desktop"/>
    <package name="gnome-system-tools"      set="desktop"/>
    <package name="gnome-terminal"          set="desktop"/>
    <package name="gnome-themes"            set="desktop"/>
    <package name="gnome-utils"             set="desktop"/>
    <package name="gnome-user-docs"         set="desktop"/>
    <package name="gnome-volume-manager"    set="desktop"/>
    <package name="gok"                     set="desktop"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="gstreamer"               set="desktop"/>
    <!-- In MOBILE too, keep the limits synchronized -->
    <package name="gst-plugins-base"        set="desktop"/>
    <package name="gst-plugins-good"        set="desktop"/>
    <package name="gtk-engines"             set="desktop"/>
    <package name="gtkhtml"                 set="desktop"/>
    <package name="gtksourceview"           set="desktop"/>
    <package name="gucharmap"               set="desktop"/>
    <package name="gvfs"                    set="desktop" limit="2.25" />
    <package name="hamster-applet"          set="desktop"/>
    <package name="libgail-gnome"           set="desktop"/>
    <package name="libgnomekbd"             set="desktop"/>
    <package name="libgnomeprint"           set="desktop"/>
    <package name="libgnomeprintui"         set="desktop"/>
    <package name="libgtop"                 set="desktop"/>
    <package name="libgweather"             set="desktop"/>
    <package name="liboobs"                 set="desktop"/>
    <package name="librsvg"                 set="desktop"/>
    <package name="libsoup"                 set="desktop"/>
    <package name="libwnck"                 set="desktop"/>
    <package name="metacity"                set="desktop" limit="2.25" />
    <package name="mousetweaks"             set="desktop"/>
    <package name="nautilus"                set="desktop"/>
    <package name="nautilus-cd-burner"      set="desktop"/>
    <package name="orca"                    set="desktop"/>
    <package name="pygtksourceview"         set="desktop"/>
    <package name="seahorse"                set="desktop"/>
    <package name="seahorse-plugins"        set="desktop"/>
    <package name="sound-juicer"            set="desktop" limit="2.25" />
    <package name="swfdec-gnome"            set="desktop"/>
    <package name="tomboy"                  set="desktop"/>
    <package name="totem"                   set="desktop" limit="2.25" />
    <package name="totem-pl-parser"         set="desktop" limit="2.25" />
    <package name="vinagre"                 set="desktop"/>
    <package name="vino"                    set="desktop"/>
    <package name="vte"                     set="desktop"/>
    <package name="yelp"                    set="desktop"/>
    <package name="zenity"                  set="desktop"/>
    ## ADMIN
    <package name="pessulus"                set="admin"/>
    <package name="sabayon"                 set="admin"/>
    ## DEVTOOLS
    <package name="anjuta"                  set="devtools"/>
    <package name="devhelp"                 set="devtools" limit="0.21"/>
    <package name="gdl"                     set="devtools"/>
    <package name="glade3"                  set="devtools" limit="3.5" />
    <package name="gnome-build"             set="devtools"/>
    <package name="accerciser"              set="devtools"/>
    <package name="gnome-devel-docs"        set="devtools"/>
    ## BINDINGS
    # C++
    <package name="glibmm"             subdir="c++"    set="bindings"/>
    <package name="pangomm"            subdir="c++"    set="bindings"/>
    <package name="gtkmm"              subdir="c++"    set="bindings"/>
    <package name="libglademm"         subdir="c++"    set="bindings"/>
    <package name="gconfmm"            subdir="c++"    set="bindings"/>
    <package name="libgnomecanvasmm"   subdir="c++"    set="bindings"/>
    <package name="gnome-vfsmm"        subdir="c++"    set="bindings"/>
    <package name="libgnomemm"         subdir="c++"    set="bindings"/>
    <package name="libgnomeuimm"       subdir="c++"    set="bindings"/>
    <package name="libxml++"           subdir="c++"    set="bindings"/>
    <package name="libsigc++"          subdir="c++"    set="bindings"/>
    # Java
    <package name="libgtk-java"        subdir="java"   set="bindings"/>
    <package name="libgnome-java"      subdir="java"   set="bindings"/> 	 
    <package name="libgconf-java"      subdir="java"   set="bindings"/> 	 
    <package name="libglade-java"      subdir="java"   set="bindings"/> 	 
    <package name="glib-java"          subdir="java"   set="bindings"/>
    # Perl
    <package name="Glib"               subdir="perl"   set="bindings"/>
    <package name="Gnome2"             subdir="perl"   set="bindings"/>
    <package name="Gnome2-Canvas"      subdir="perl"   set="bindings"/>
    <package name="Gnome2-GConf"       subdir="perl"   set="bindings"/>
    <package name="Gnome2-VFS"         subdir="perl"   set="bindings"/>
    <package name="Gtk2"               subdir="perl"   set="bindings"/>
    <package name="Gtk2-GladeXML"      subdir="perl"   set="bindings"/>
    # Python
    <package name="pygobject"          subdir="python" set="bindings"/>
    <package name="pygtk"              subdir="python" set="bindings"/>
    <package name="gnome-python"       subdir="python" set="bindings"/>
    <package name="pyorbit"            subdir="python" set="bindings"/>
    # Mono
    <package name="gtk-sharp"          subdir="mono"   set="bindings"/>
    ## MOBILE
    <package name="GConf-dbus"                 set="mobile"/>
    <package name="atk"                        set="mobile"/>
    <package name="evolution-data-server-dbus" set="mobile"/>
    <package name="glib"                       set="mobile"/>
    <package name="gstreamer"                  set="mobile"/>
    <package name="gst-plugins-base"           set="mobile"/>
    <package name="gtk+"                       set="mobile"/>
    <package name="gtk-doc"                    set="mobile"/>
    <package name="intltool"                   set="mobile"/>
    <package name="pango"                      set="mobile"/>
  </whitelist>
</conversioninfo>
