<?xml version="1.0" ?>
<conversioninfo>
  <locations>  FIXME: get a better name
    <site kind="gnome" default="true" location='https://download.gnome.org/sources/' />

    <site module="ModemManager"              location="https://www.freedesktop.org/software/ModemManager/"/>
    <site module="accountsservice"           location="https://www.freedesktop.org/software/accountsservice/"/>
    <site module="appstream-glib"            location="https://people.freedesktop.org/~hughsient/appstream-glib/releases/"/>
    <site module="cairomm"                   location="https://cairographics.org/releases/"/>
    <site module="colord"                    location="https://www.freedesktop.org/software/colord/releases/"/>
    <site module="colord-gtk"                location="https://www.freedesktop.org/software/colord/releases/"/>
    <site module="cups-pk-helper"            location="https://www.freedesktop.org/software/cups-pk-helper/releases/"/>
    <site module="dnsmasq"                   location="http://www.thekelleys.org.uk/dnsmasq/"/>
    <site module="ebtables"                  location="https://www.netfilter.org/pub/ebtables/"/>
    <site module="exempi"                    location="https://libopenraw.freedesktop.org/exempi/"/>
    <site module="freerdp"                   location="https://pub.freerdp.com/releases/"/>
    <site module="gegl"                      location="https://download.gimp.org/pub/gegl/"/>
    <site module="glib-testing"              location="https://tecnocode.co.uk/downloads/libglib-testing/"/>
    <site module="gstreamer-editing-services" location="https://gstreamer.freedesktop.org/src/gstreamer-editing-services/"/>
    <site module="intltool"                  location="https://launchpad.net/intltool/+download/"/>
    <site module="krb5"                      location="https://kerberos.org/dist/krb5/"/>
    <site module="libbluray"                 location="https://download.videolan.org/pub/videolan/libbluray/"/>
    <site module="libcdio"                   location="https://ftp.gnu.org/gnu/libcdio/"/>
    <site module="libcdio-paranoia"          location="https://ftp.gnu.org/gnu/libcdio/"/>
    <site module="libdvdread"                location="https://download.videolan.org/pub/videolan/libdvdread/"/>
    <site module="libevdev"                  location="https://www.freedesktop.org/software/libevdev/"/>
    <site module="libgusb"                   location="https://people.freedesktop.org/~hughsient/releases/"/>
    <site module="libmbim"                   location="https://www.freedesktop.org/software/libmbim/"/>
    <site module="libosinfo"                 location="https://releases.pagure.org/libosinfo/"/>
    <site module="libqmi"                    location="https://www.freedesktop.org/software/libqmi/"/>
    <site module="libvirt"                   location="https://libvirt.org/sources/"/>
    <site module="libvirt-glib"              location="https://libvirt.org/sources/glib/"/>
    <site module="libwacom"                  location="https://sourceforge.net/projects/linuxwacom/files/libwacom/"/>
    <site module="libwpe"                    location="https://wpewebkit.org/releases/"/>
    <site module="libxklavier"               location="https://people.freedesktop.org/~svu/"/>
    <site module="malcontent"                location="https://tecnocode.co.uk/downloads/malcontent/"/>
    <site module="mpc"                       location="https://ftp.gnu.org/gnu/mpc/"/>
    <site module="osinfo-db"                 location="https://releases.pagure.org/libosinfo/"/>
    <site module="osinfo-db-tools"           location="https://releases.pagure.org/libosinfo/"/>
    <site module="parted"                    location="https://ftp.gnu.org/gnu/parted/"/>
    <site module="pinentry"                  location="https://www.gnupg.org/ftp/gcrypt/pinentry/"/>
    <site module="plymouth"                  location="https://www.freedesktop.org/software/plymouth/releases/"/>
    <site module="polkit"                    location="https://www.freedesktop.org/software/polkit/releases/"/>
    <site module="qemu"                      location="https://download.qemu.org/"/>
    <site module="samba"                     location="https://download.samba.org/pub/samba/stable/"/>
    <site module="spice-gtk"                 location="https://www.spice-space.org/download/gtk/"/>
    <site module="spice-protocol"            location="https://www.spice-space.org/download/releases/"/>
    <site module="spice-server"              location="https://www.spice-space.org/download/releases/spice-server/"/>
    <site module="uchardet"                  location="https://www.freedesktop.org/software/uchardet/releases/"/>
    <site module="uhttpmock"                 location="https://tecnocode.co.uk/downloads/uhttpmock/"/>
    <site module="usbredir"                  location="https://www.spice-space.org/download/usbredir/"/>
    <site module="webkitgtk"                 location="https://webkitgtk.org/releases/"/>
    <site module="wpebackend-fdo"            location="https://wpewebkit.org/releases/"/>
    <site module="neon"                      location="https://notroj.github.io/neon/"/>
    <site module="appstream"                 location="https://www.freedesktop.org/software/appstream/releases/"/>

  </locations>
  <whitelist>
    ## EXTERNAL
    <package name="ModemManager"/>
    <package name="NetworkManager" limit="1.51"/>
    <package name="accountsservice" limit="23.14"/>
    <package name="appstream-glib" limit="0.9"/>
    <package name="cairomm-1.0" limit="1.19" module="cairomm"/>
    <package name="colord" limit="1.5"/>
    <package name="colord-gtk" limit="0.4"/>
    <package name="freerdp" limit="3.15"/>
    <package name="glycin" limit="1.3"/>
    <package name="graphene" limit="1.11"/>
    <package name="intltool" limit="0.52"/>
    <package name="krb5" limit="1.22"/>
    <package name="libmbim" limit="1.27"/>
    <package name="libosinfo" limit="1.13"/>
    <package name="libqmi" limit="1.36"/>
    <package name="libvirt" limit="11.3"/>
    <package name="libvirt-glib" limit="5.1"/>
    <package name="mobile-broadband-provider-info"/>
    <package name="osinfo-db-tools" limit="1.13"/>
    <package name="plymouth" limit="24.005"/>
    <package name="qemu" limit="10"/>
    <package name="samba" limit="4.23"/>
    <package name="spice-gtk" limit="0.43"/>
    <package name="udisks2" limit="2.11" module="udisks"/>
    <package name="webkitgtk" limit="2.49"/>
    <package name="papers" limit="49"/>
    <package name="showtime" limit="49"/>

    ## CORE SHELL
    <package name="adwaita-icon-theme"          set="core" limit="49"/>
    <package name="adwaita-fonts"               set="core" limit="49"/>
    <package name="at-spi2-core"                set="core" limit="2.57"/>
    <package name="dconf"                       set="core" limit="0.41"/>
    <package name="evolution-data-server"       set="core" limit="3.57"/>
    <package name="gdm"                         set="core" limit="49"/>
    <package name="gnome-bluetooth"             set="core" limit="49"/>
    <package name="gnome-initial-setup"         set="core" limit="49"/>
    <package name="gnome-online-accounts"       set="core" limit="3.55"/>
    <package name="gnome-control-center"        set="core" limit="49"/>
    <package name="gnome-desktop"               set="core" limit="49"/>
    <package name="gnome-keyring"               set="core" limit="49"/>
    <package name="gnome-menus"                 set="core" limit="49"/>
    <package name="gnome-remote-desktop"        set="core" limit="49"/>
    <package name="gnome-session"               set="core" limit="49"/>
    <package name="gnome-settings-daemon"       set="core" limit="49"/>
    <package name="gnome-shell"                 set="core" limit="49"/>
    <package name="gsettings-desktop-schemas"   set="core" limit="49"/>
    <package name="gvfs"                        set="core" limit="1.59"/>
    <package name="glib-networking"             set="core" limit="2.81"/>
    <package name="mutter"                      set="core" limit="49"/>
    <package name="orca"                        set="core" limit="49"/>
    <package name="tecla"                       set="core" limit="49"/>
    <package name="xdg-desktop-portal-gnome"    set="core" limit="49"/>

    ## CORE EXTRAS
    <package name="gnome-backgrounds"           set="core" limit="49"/>
    <package name="gnome-user-docs"             set="core" limit="49"/>
    <package name="gnome-user-share"            set="core" limit="49"/>

    ## CORE APPS
    <package name="baobab"                      set="core" limit="49"/>
    <package name="dconf-editor"                set="core" limit="49"/>
    <package name="decibels"                    set="core" limit="48.0.alpha"/>
    <package name="devhelp"                     set="core" limit="49"/>
    <package name="d-spy"                       set="core" limit="49"/>
    <package name="epiphany"                    set="core" limit="49"/>
    <package name="evince"                      set="core" limit="49"/>
    <package name="gnome-boxes"                 set="core" limit="49"/>
    <package name="gnome-builder"               set="core" limit="49"/>
    <package name="gnome-calculator"            set="core" limit="49"/>
    <package name="gnome-calendar"              set="core" limit="49"/>
    <package name="gnome-characters"            set="core" limit="49"/>
    <package name="gnome-clocks"                set="core" limit="49"/>
    <package name="gnome-connections"           set="core" limit="49"/>
    <package name="gnome-console"               set="core" limit="49"/>
    <package name="gnome-contacts"              set="core" limit="49"/>
    <package name="gnome-disk-utility"          set="core" limit="49"/>
    <package name="gnome-font-viewer"           set="core" limit="49"/>
    <package name="gnome-logs"                  set="core" limit="49"/>
    <package name="gnome-maps"                  set="core" limit="49"/>
    <package name="gnome-music"                 set="core" limit="49"/>
    <package name="gnome-software"              set="core" limit="49"/>
    <package name="gnome-system-monitor"        set="core" limit="49"/>
    <package name="gnome-text-editor"           set="core" limit="49"/>
    <package name="gnome-tour"                  set="core" limit="49"/>
    <package name="gnome-weather"               set="core" limit="49"/>
    <package name="loupe"                       set="core" limit="49"/>
    <package name="nautilus"                    set="core" limit="49"/>
    <package name="simple-scan"                 set="core" limit="49"/>
    <package name="snapshot"                    set="core" limit="49"/>
    <package name="sushi"                       set="core" limit="49"/>
    <package name="sysprof"                     set="core" limit="49"/>
    <package name="totem"                       set="core" limit="49"/>
    <package name="yelp"                        set="core" limit="49"/>

    ## CORE DEPS
    <package name="folks"                       set="core" limit="0.16"/>
    <package name="geocode-glib"                set="core" limit="3.27"/>
    <package name="gcab"                        set="core" limit="1.7"/>
    <package name="gcr"                         set="core" limit="4.4.90"/>
    <package name="gcr-3"                       set="core" limit="3.42" module="gcr"/>
    <package name="gdk-pixbuf"                  set="core" limit="2.43"/>
    <package name="gexiv2"                      set="core" limit="0.15"/>
    <package name="gtksourceview-4"             set="core" limit="4.9" module="gtksourceview"/>
    <package name="gtksourceview"               set="core" limit="5.17"/>
    <package name="gjs"                         set="core" limit="1.85"/>
    <package name="glib"                        set="core" limit="2.85"/>
    <package name="glibmm"                      set="core" limit="2.85"/>
    <package name="gsound"                      set="core" limit="1.1"/>
    <package name="gspell"                      set="core" limit="1.15"/>
    <package name="gnome-autoar"                set="core" limit="0.5"/>
    <package name="gnome-color-manager"         set="core" limit="3.37"/>
    <package name="gobject-introspection"       set="core" limit="1.85"/>
    <package name="gom"                         set="core" limit="0.6"/>
    <package name="grilo"                       set="core" limit="0.4"/>
    <package name="grilo-plugins"               set="core" limit="0.4"/>
    <package name="gssdp"                       set="core" limit="1.7"/>
    <package name="gtk+-3"                      set="core" limit="3.25" module="gtk"/>
    <package name="gtk"                         set="core" limit="4.19"/>
    <package name="gtk-doc"                     set="core" limit="1.35"/>
    <package name="gtkmm"                       set="core" limit="4.19"/>
    <package name="gtk-vnc"                     set="core" limit="1.6"/>
    <package name="gupnp"                       set="core" limit="1.7"/>
    <package name="gupnp-av"                    set="core" limit="0.15"/>
    <package name="gupnp-dlna"                  set="core" limit="0.13"/>
    <package name="json-glib"                   set="core" limit="1.11"/>
    <package name="jsonrpc-glib"                set="core" limit="3.45"/>
    <package name="libadwaita"                  set="core" limit="1.8"/>
    <package name="libdex"                      set="core" limit="0.11"/>
    <package name="libgee"                      set="core" limit="0.21"/>
    <package name="libgsf"                      set="core" limit="1.15"/>
    <package name="libgxps"                     set="core" limit="0.4"/>
    <package name="libgtop"                     set="core" limit="2.42"/>
    <package name="libgweather"                 set="core" limit="40"/>
    <package name="libhandy"                    set="core" limit="1.9"/>
    <package name="libmediaart"                 set="core" limit="1.10"/>
    <package name="libmanette"                  set="core" limit="0.2.13"/>
    <package name="libnma"                      set="core" limit="1.11"/>
    <package name="libnotify"                   set="core" limit="0.9"/>
    <package name="libpanel"                    set="core" limit="1.11"/>
    <package name="libpeas"                     set="core" limit="2.1"/>
    <package name="libpeas-1"                   set="core" limit="1.37" module="libpeas"/>
    <package name="librest"                     set="core" limit="0.10" module="rest"/>
    <package name="librsvg"                     set="core" limit="2.60.90"/>
    <package name="libsecret"                   set="core" limit="0.22"/>
    <package name="libshumate"                  set="core" limit="1.5"/>
    <package name="libsigcplusplus"             set="core" limit="3.7" module="libsigc++"/>
    <package name="libsoup"                     set="core" limit="3.7"/>
    <package name="localsearch"                 set="core" limit="3.10"/>
    <package name="mm-common"                   set="core" limit="1.1"/>
    <package name="msgraph"                     set="core" limit="0.4"/>
    <package name="pango"                       set="core" limit="1.57"/>
    <package name="pangomm"                     set="core" limit="2.57"/>
    <package name="phodav"                      set="core" limit="3.1"/>
    <package name="pygobject"                   set="core" limit="3.53"/>
    <package name="pyatspi"                     set="core" limit="2.47"/>
    <package name="rygel"                       set="core" limit="0.45"/>
    <package name="totem-pl-parser"             set="core" limit="3.27"/>
    <package name="template-glib"               set="core" limit="3.37"/>
    <package name="tinysparql"                  set="core" limit="3.10"/>
    <package name="vala"                        set="core" limit="0.57"/>
    <package name="vte"                         set="core" limit="0.81"/>
    <package name="yelp-xsl"                    set="core" limit="43"/>
    <package name="yelp-tools"                  set="core" limit="43"/>

    ## CORE MOBILE
    <package name="calls"                       set="core" limit="49"/>

    ## SDK DEPS
    <package name="gi-docgen"                   set="core" limit="2025.4"/>

  </whitelist>
</conversioninfo>
