<?xml version="1.0" ?>
<conversioninfo>
  <locations>  FIXME: get a better name
    <site cvs="gnome.org" 
      location="http://download.gnome.org/sources/"
      subdir="$module"
      />
    <site cvs="freedesktop.org"
      location="http://www.freedesktop.org/software/"
      subdir="$module/releases/"
      />
    <site module="clutter"
          location="http://download.gnome.org/sources/"
          subdir="$module"
      />
    <site module="clutter-gtk"
          location="http://download.gnome.org/sources/"
          subdir="$module"
      />
    <site module="libdaemon" location="http://avahi.org/download" />
    <site module="avahi"     location="http://avahi.org/download" />
    <site module="cairo"     location="http://cairographics.org/snapshots/" />
          # Have to keep toggling between:
          # http://cairographics.org/snapshots/
          # http://cairographics.org/releases/
    <site module="hal"       location="http://hal.freedesktop.org/releases/" />

    <site module="polkit"    location="http://hal.freedesktop.org/releases/" />
    <site module="polkit-gnome" location="http://hal.freedesktop.org/releases/" />

    <site module="upower"    location="http://upower.freedesktop.org/releases/" />
    <site module="PackageKit" location="http://www.packagekit.org/releases/" />

    <site module="libXft"    location="http://xlibs.freedesktop.org/release/"/>
    <site module="fontconfig" 
          location="http://www.fontconfig.org/release/" />
    <site module="render"    
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="xrender"   
          location="http://freedesktop.org/software/fontconfig/releases/" />
    <site module="poppler"   location="http://poppler.freedesktop.org/" />
    <site module="system-tools-backends"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="shared-mime-info" location="http://freedesktop.org/~hadess/" />
    <site module="desktop-file-utils"
          location="http://www.freedesktop.org/software/"
          subdir="$module/releases" />
    <site module="libxklavier"
          location="http://xlibs.freedesktop.org/xkbdesc/" />
    <site module="dbus"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-glib"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="dbus-python"
          location="http://dbus.freedesktop.org/releases/" />
    <site module="gstreamer"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="gst-plugins-base"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="gst-plugins-good"
          location="http://download.gnome.org/sources/"
          subdir="$module" />
    <site module="iso-codes"
          location="http://ftp.debian.org/debian/pool/main/i/iso-codes/" />
          # Alternative:
          # location="http://download.gnome.org/teams/releng/tarballs-needing-help/iso-codes/"
    <site module="liboil" location="http://liboil.freedesktop.org/download/" />
    <site module="icon-naming-utils"
          location="http://tango-project.org/releases/" />
    <site module="pycairo" location="http://cairographics.org/releases/" />
    <site module="gamin"   location="http://www.gnome.org/~veillard/gamin/sources" />
    <site module="liboobs"    
          location="http://download.gnome.org/sources/" 
          subdir="$module" />
    <site module="Glib"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2-Canvas"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gnome2-GConf"
          location="http://www.cpan.org/modules/by-authors/id/E/EB/EBASSI/" />
    <site module="Gnome2-VFS"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gtk2"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Gtk2-GladeXML"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="Pango"
          location="http://www.cpan.org/modules/by-authors/id/T/TS/TSCH/" />
    <site module="perl-net-dbus"    
          location="http://www.cpan.org/modules/by-" 
          subdir="$module" />
    <site module="ConsoleKit"
          location="http://www.freedesktop.org/software/ConsoleKit/dist/"/>
  </locations>
  <mirrors>
    <mirror location="http://download.gnome.org/" alternate="file:///ftp/pub/GNOME/" host="window.gnome.org" />
    <mirror location="http://download.gnome.org/" alternate="sftp://master.gnome.org/ftp/pub/GNOME/" />
  </mirrors>
  <rename>
    <name old="Render"               new="render"/>
    <name old="Xft"                  new="libXft"/>
    <name old="Xrender"              new="xrender"/>
    <name old="gconf"                new="GConf"/>
    <name old="gconf-dbus"           new="GConf-dbus"/>
    <name old="gdm2"                 new="gdm"/>
    <name old="libsigc++2"           new="libsigc++"/>
    <name old="procman"              new="gnome-system-monitor"/>
    <name old="pyatspi2"             new="pyatspi"/>
    <drop prefix="gnome-python/" />
    <drop prefix="gnomemm/"      />
  </rename>
  <whitelist>
    ## EXTERNAL
    <package name="avahi"/>
    <package name="cairo"/>
    <package name="desktop-file-utils"/>
    <package name="dbus"/>
    <package name="dbus-glib"/>
    <package name="dbus-python"/>
    <package name="folks"/>
    <package name="fontconfig"/>
    <package name="hal"/>
    <package name="hicolor-icon-theme" note="istarball"/>
    <package name="libchamplain"/>
    <package name="libdaemon"/>
    <package name="libgcrypt" note="istarball"/>
    <package name="libgdata"/>
    <package name="libgpg-error" note="istarball"/>
    <package name="libtasn1" note="istarball"/>
    <package name="gamin"/>
    <package name="gnome-common"/>  # Huh?  Why is this external?
    <package name="gnome-js-common"/>
    <package name="gnutls" note="istarball"/>
    <package name="icon-naming-utils"/>
    <package name="intltool"/>
    <package name="iso-codes" note="istarball"/>
    <package name="libcroco"/>
    <package name="libgnomecups"/>
    <package name="libgsf"/>
    <package name="libmusicbrainz" note="istarball"/>
    <package name="liboil"/>
    <package name="libXft"/>
    <package name="libxklavier"/>
    <package name="libxml2"/>
    <package name="libxslt"/>
    <package name="mozilla"/>
    <package name="opal"/>
    <package name="opentts"/>
    <package name="poppler"/>
    <package name="ptlib"/>
    <package name="pycairo"/>
    <package name="shared-mime-info"/>
    <package name="system-tools-backends"/>
    <package name="telepathy-logger"/>
    <package name="startup-notification"/>
    <package name="rarian"/>
    <package name="libnotify"/>
    <package name="vala"/>
    <package name="libgee"/>
    <package name="NetworkManager-openconnect"/>
    <package name="NetworkManager-openvpn"/>
    <package name="NetworkManager-pptp"/>
    <package name="NetworkManager-vpnc"/>
    <package name="NetworkManager"/>
    <package name="libnl"/>
    <package name="libproxy"/>
    <package name="sqlite3"/>
    <!-- <package name="accountsservice"/> no usable location for tarballs -->
    <package name="bluez"/>
    <package name="ConsoleKit"/>
    <package name="abiword"/>
    <!-- <package name="banshee"/> no usable location for tarballs -->
    <!-- <package name="deja-dup"/> no usable location for tarballs -->
    <package name="f-spot"/>
    <package name="gthumb"/>
    <package name="gimp"/>
    <package name="gnome-scan"/>
    <package name="gnote"/>
    <package name="gnumeric"/>
    <!-- <package name="inkscape"/> no usable location for tarballs -->
    <!-- <package name="monkey-bubble"/> no usable location for tarballs -->
    <!-- <package name="rhythmbox"/> problematic depends -->
    <package name="polkit"/>
    <package name="libical"/>
    <package name="libdaemon"/>
    <package name="libunique"/>
    <package name="libcanberra"/>
    <package name="PackageKit"/>
    <package name="upower"/>
    <package name="json-glib"/>
    <package name="gmime"/>
    <package name="tracker"/>
    <package name="libnice"/>
    <package name="farsight2"/>
    <package name="telepathy-farsight"/>
    <package name="enchant"/>
    <package name="cairomm"/>
    <package name="libdiscid"/>

    ## CORE SHELL
    <package name="dconf"                       set="core"/>
    <package name="evolution-data-server"       set="core"/>
    <package name="glib-networking"             set="core"/>
    <package name="gnome-bluetooth"             set="core"/>
    <package name="gnome-control-center"        set="core"/>
    <package name="gnome-desktop"               set="core"/>
    <package name="gnome-icon-theme"            set="core"/>
    <package name="gnome-icon-theme-extras"     set="core"/>
    <package name="gnome-icon-theme-symbolic"   set="core"/>
    <package name="gnome-keyring"               set="core"/>
    <package name="gnome-menus"                 set="core"/>
    <package name="gnome-packagekit"            set="core"/>
    <package name="gnome-power-manager"         set="core"/>
    <package name="gnome-screensaver"           set="core"/>
    <package name="gnome-session"               set="core"/>
    <package name="gnome-settings-daemon"       set="core"/>
    <package name="gnome-shell"                 set="core"/>
    <package name="gnome-themes-standard"       set="core"/>
    <package name="gvfs"                        set="core"/>
    <package name="mutter"                      set="core"/>
    <package name="network-manager-applet"      set="core"/>
    <package name="pulseaudio"                  set="core"/>
    <package name="telepathy-mission-control"   set="core"/>

    ## CORE EXTRAS
    <package name="gnome-backgrounds"           set="core"/>
    <package name="gnome-user-share"            set="core"/>
    <package name="vino"                        set="core"/>

    ## CORE UTILITIES
    <package name="brasero"                     set="core"/>
    <package name="empathy"                     set="core"/>
    <package name="epiphany"                    set="core"/>
    <package name="eog"                         set="core"/>
    <package name="evince"                      set="core"/>
    <package name="gcalctool"                   set="core"/>
    <package name="gnome-disk-utility"          set="core"/>
    <package name="gnome-system-monitor"        set="core"/>
    <package name="gnome-terminal"              set="core"/>
    <package name="gnome-user-docs"             set="core"/>
    <package name="gnome-utils"                 set="core"/>
    <package name="gucharmap"                   set="core"/>
    <package name="nautilus"                    set="core"/>
    <package name="totem"                       set="core"/>
    <package name="yelp"                        set="core"/>

    ## CORE FALLBACK
    <package name="GConf"                       set="core"/>
    <package name="gnome-panel"                 set="core"/>
    <package name="metacity"                    set="core"/>
    <package name="notification-daemon"         set="core"/>

    # CORE SERVICES
    <package name="gdm"                         set="core"/>

    ## CORE DEPS
    <package name="cantarell-fonts"             set="core"/>
    <package name="gnome-doc-utils"             set="core"/>
    <package name="gtk-doc"                     set="core"/>
    <package name="glib"                        set="core"/>
    <package name="gobject-introspection"       set="core"/>
    <package name="pango"                       set="core"/>
    <package name="atk"                         set="core"/>
    <package name="gdk-pixbuf"                  set="core"/>
    <package name="gtk+-2" module="gtk+" limit="2.90" set="core"/>
    <package name="gtk+"                        set="core"/>
    <package name="libgnome-keyring"            set="core"/>
    <package name="libpeas"                     set="core"/>
    <package name="libsoup"                     set="core"/>
    <package name="libgweather"                 set="core"/>
    <package name="gsettings-desktop-schemas"   set="core"/>
    <package name="libgnomekbd"                 set="core"/>
    <package name="gstreamer"                   set="core"/>
    <package name="polkit-gnome"                set="core"/>
    <package name="gjs"                         set="core"/>
    <package name="zenity"                      set="core"/>
    <package name="clutter"                     set="core"/>
    <package name="clutter-gtk"                 set="core"/>
    <package name="gst-plugins-base"            set="core"/>
    <package name="gst-plugins-good"            set="core"/>
    <package name="telepathy-glib"              set="core"/>
    <package name="totem-pl-parser"             set="core"/>
    <package name="libwnck-2" module="libwnck" limit="2.90" set="core"/>
    <package name="libwnck"                     set="core"/>
    <package name="mm-common"                   set="core"/>
    <package name="glibmm"                      set="core"/>
    <package name="atkmm"                       set="core"/>
    <package name="pangomm"                     set="core"/>
    <package name="gtkmm"                       set="core"/>
    <package name="librsvg"                     set="core"/>
    <package name="vte"                         set="core"/>
    <package name="libgtop"                     set="core"/>
    <package name="yelp-xsl"                    set="core"/>

    ## FEATURED APPS
    <package name="alacarte"                    set="apps"/>
    <package name="anjuta"                      set="apps"/>
    <package name="cheese"                      set="apps"/>
    <package name="ekiga"                       set="apps"/>
    <package name="devhelp"                     set="apps"/>
    <package name="evolution"                   set="apps"/>
    <package name="file-roller"                 set="apps"/>
    <package name="gedit"                       set="apps"/>
    <package name="gnome-games"                 set="apps"/>
    <package name="gnome-nettool"               set="apps"/>
    <package name="hamster-applet"              set="apps"/>
    <package name="seahorse"                    set="apps"/>
    <package name="tomboy"                      set="apps"/>
    <package name="vinagre"                     set="apps"/>

    ## DEPENDENCIES
    <package name="ORBit2"/>
    <package name="at-spi"/>
    <package name="audiofile"/>
    <package name="esound"/>
    <package name="gnome-mime-data"/>
    <package name="gnome-vfs"/>
    <package name="gnome-vfs-monikers"/>
    <package name="libIDL"/>
    <package name="libart_lgpl"/>
    <package name="libbonobo"/>
    <package name="libbonoboui"/>
    <package name="libglade"/>
    <package name="libgnome"/>
    <package name="libgnomecanvas"/>
    <package name="libgnomeui"/>
    <package name="at-spi2-core"/>
    <package name="at-spi2-atk"/>
    <package name="bug-buddy"/>
    <package name="caribou"/>
    <package name="dasher"/>
    <package name="dconf"/>
    <package name="deskbar-applet"/>
    <package name="evolution-exchange"/>
    <package name="evolution-mapi"/>
    <package name="evolution-webcal"/>
    <package name="gnome-themes"/>
    <package name="gconf-editor"/>
    <package name="gnome-applets"/>
    <package name="gnome-color-manager"/>
    <package name="gnome-mag"/>
    <package name="gnome-media"/>
    <package name="gnome-netstatus"/>
    <package name="gnome-python-desktop"/>
    <package name="gnome-sharp"/>
    <package name="gnome-desktop-sharp"/>
    <package name="gnome-system-tools"/>
    <package name="gnome-video-effects"/>
    <package name="gtk-engines" limit="2.22"/>
    <package name="gtkhtml"/>
    <package name="gtksourceview"/>
    <package name="libgail-gnome"/>
    <package name="libgnomeprint"/>
    <package name="libgnomeprintui"/>
    <package name="liboobs"/>
    <package name="mousetweaks"/>
    <package name="nautilus-sendto"/>
    <package name="orca"/>
    <package name="pygtksourceview"/>
    <package name="rygel"/>
    <package name="seahorse-plugins"/>
    <package name="sound-juicer"/>
    <package name="swfdec-gnome"/>
    <package name="vino"/>
    <package name="pessulus"/>
    <package name="sabayon"/>
    <package name="accerciser"/>
    <package name="gdl"/>
    <package name="glade"/>
    <package name="gnome-devel-docs"/>
    <package name="libglademm"/>
    <package name="gconfmm"/>
    <package name="libgnomecanvasmm"/>
    <package name="gnome-vfsmm"/>
    <package name="libgnomemm"/>
    <package name="libgnomeuimm"/>
    <package name="libxml++"/>
    <package name="libsigc++"/>
    <package name="libgtk-java"/>
    <package name="libgnome-java"/>
    <package name="libgconf-java"/>
    <package name="libglade-java"/>
    <package name="glib-java"/>
    <package name="seed"/>
    <package name="Glib"/>
    <package name="Gnome2"/>
    <package name="Gnome2-Canvas"/>
    <package name="Gnome2-GConf"/>
    <package name="Gnome2-VFS"/>
    <package name="Gtk2"/>
    <package name="Gtk2-GladeXML"/>
    <package name="Pango"/>
    <package name="pygobject"/>
    <package name="pygtk"/>
    <package name="gnome-python"/>
    <package name="pyorbit"/>
    <package name="pyatspi"/>
    <package name="gtk-sharp"/>

  </whitelist>
</conversioninfo>
